@media only screen and (min-width:980px){
    body{
        margin:0;
        overflow-x:hidden;
        font-family: 'Noto Sans TC';
    }
    .banner{
        position:relative;
        background:url("material/banner.jpg");
        display: inline-block;
        width:100vw;
        height:6.25vw;
        left:0;
        top:0;
    }

    #banner_logo{
        position:relative;
        background:url("material/logo1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:24.18vw;
        height:5vw;
        left: 3vw;
        top: 0.625vw;
    }

    #banner_title{
        position:relative;
        display: inline-block;
        left:5vw;
        top: -1vw;
        font-size: 3vw;
    }

    #middle{
        position:relative;
        display: inline-block;
        width:100vw;
        height: 42.19vw;
    }


    .footer{
        position:relative;
        background-color:#f6f6f6;
        display: inline-block;
        width:100vw;
    }

    #footer_logo{
        position:relative;
        background:url("material/logo2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
        width:20vw;
        height:3.97vw;
        margin-left:5vw;
        margin-top: 2.5vw;
    }

    #footer_signature{
        position:relative;
        display: inline-block;
        vertical-align: top;
        font-size: 1.1vw;
        margin-left:4vw;
        padding-top:0.5vw;
        padding-bottom:1.5vw;
    }


}


@media only screen and (max-width:979px){
    body{
        margin:0;
        overflow-x:hidden;
        font-family: 'Noto Sans TC';
    }
    .banner{
        background:url("material/banner.jpg");
        display: inline-block;
        position:relative;
        top:0;
        left:0;
        height:10vw;
        width:100vw;
        z-index: 2;
    }

    #banner_logo{
        position:relative;
        background:url("material/logo2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        top:2vw;
        left:3vw;
        height:6vw;
        width:27.48vw;
    }

    #banner_title{
        position:relative;
        display: inline-block;
        left:5vw;
        top: 0.75vw;
        font-size: 5vw;
    }

    #middle{
        position:relative;
        display: flex;
        flex-direction: column;
        width:100vw;
        min-height: 42.19vw;
    }

    
    #middle > #middle_right{
        order:1;
    } 

    #middle > #middle_photo{
        order:2;
    } 

    .footer{
        position:relative;
        background-color:#f6f6f6;
        display: inline-block;
        width:100vw;
        padding-bottom: 5vw;
    }

    #footer_logo{
        display: none;
    }

    #footer_signature{
        position:relative;
        display: inline-block;
        width:95vw;
        font-size: 4vw;
        left: 3vw;
        top: 0vw
    }
}