@media only screen and (min-width:980px){
    #middle_video_background{
        position:absolute;
        display: none;
        width:100vw;
        height:42.19vw;
        z-index: 4;
        background-color: black;
        opacity:0.5;
    }

    #middle_video_frame{
        position:absolute;
        display: none;
        z-index: 5;
        background-color: white;
        width: 70.4vw;
        height: 39vw;
        left: 13vw;
        top: 2vw;
        border-radius: 1vw;
    }

    .middle_video_button{
        position:absolute;
        display: none;
        z-index: 6;
        cursor: pointer;
        top:37.5vw;
        width:30vw;
        height:3vw;
        line-height:3vw;
        background-color: #333;
        border-color: #2e6da4;
        border-radius: 6px;
        font-size: 1.8vw;
        border-width: 1px;
        cursor: pointer;
        color:white;
        text-align: center;
    }
    
    .middle_video_button:hover{
        background-color: #222;
        border-color: #122b40;
    }
    
    .middle_video_button:active{
        background-color: #000;
        border-color: #122b40;
    }

    .button_basic{
        left:18vw;
    }

    .button_advanced{
        left:48.4vw;
    }

    #video{
        position:absolute;
        display: none;
        width: 60.4vw;
        height: 34vw;
        margin-left: 18vw;
        margin-top: 3vw;
        z-index: 7;
    }

    .middle_titlepart{
        position:relative;
        display: inline-block;
        vertical-align: top;
        width:97vw;
        margin-left:3vw;
        margin-top: 1.5vw;
    }

    #middle_titlepart_link{
        position:relative;
        display: inline-block;
        vertical-align: top;
    }

    #middle_titlepart_text{
        position:relative;
        display: inline-block;
        vertical-align: top;
        line-height: 6vw;
        font-size: 2.5vw;
    }

    #middle_titlepart_photo{
        position:relative;
        display: inline-block;
        left:0vw;
        top: 0vw;
        width:13.91vw;
        vertical-align: top;
    }

    #middle_option{
        position:relative;
        display: inline-block;
        width:100vw;
        margin-top: 5vw;
        vertical-align: top;
    }

    .option_link{
        position:relative;
        display: inline-block;
        width:22.19vw;
        margin-left: 19vw;
        vertical-align: top;
    }

    .option_sign{
        position:relative;
        display: inline-block;
        width:22.19vw;
        vertical-align: top;
        cursor: pointer;
    }



}


@media only screen and (max-width:979px){
    #middle_video_background{
        position:absolute;
        display: none;
        width:100vw;
        height:100%;
        z-index: 4;
        background-color: black;
        opacity:0.5;
    }

    #middle_video_frame{
        position:absolute;
        display: none;
        z-index: 5;
        background-color: white;
        width: 95vw;
        height: 62vw;
        left: 2vw;
        top: 22vw;
        border-radius: 3vw;
    }

    .middle_video_button{
        position:absolute;
        display: none;
        z-index: 6;
        cursor: pointer;
        top:75.5vw;
        width:42vw;
        height:7vw;
        line-height:7vw;
        background-color: #333;
        border-color: #2e6da4;
        border-radius: 6px;
        font-size: 5vw;
        border-width: 1px;
        cursor: pointer;
        color:white;
        text-align: center;
    }
    
    .middle_video_button:hover{
        background-color: #222;
        border-color: #122b40;
    }
    
    .middle_video_button:active{
        background-color: #000;
        border-color: #122b40;
    }

    .button_basic{
        left:7.5vw;
    }

    .button_advanced{
        left:50vw;
    }

    #video{
        position:absolute;
        display: none;
        width: 85vw;
        height: 47.8vw;
        margin-left: 7vw;
        margin-top: 26vw;
        z-index: 7;
    }
    .middle_titlepart{
        position:relative;
        display: inline-block;
        vertical-align: top;
        width:97vw;
    }

    #middle_titlepart_link{
        position:relative;
        display: inline-block;
        vertical-align: top;
        left:3vw;
        top: 3vw;
    }

    #middle_titlepart_photo{
        position:relative;
        display: inline-block;
        left:0vw;
        top: 0vw;
        width:31.11vw;
        vertical-align: top;
    }

    #middle_titlepart_text{
        position:relative;
        display: inline-block;
        vertical-align: top;
        font-size: 6.5vw;
        margin-top: 4vw;
        margin-left: 5vw;
    }

    #middle_option{
        position:relative;
        display: inline-block;
        width:100vw;
        margin-top: 1vw;
        margin-bottom: 10vw;
        vertical-align: top;
    }

    .option_link{
        position:relative;
        display: inline-block;
        width:49vw;
        margin-top: 7vw;
        vertical-align: top;
        cursor: pointer;
    }

    .option_sign{
        position:relative;
        display: inline-block;
        width:40vw;
        margin-left: 5.5vw;
        vertical-align: top;
    }
}