@media only screen and (min-width:980px){
    #middle_video_background{
        position:absolute;
        display: none;
        width:100vw;
        height:42.19vw;
        z-index: 4;
        background-color: black;
        opacity:0.5;
    }

    #video{
        position:absolute;
        display: none;
        width:64vw;
        height:36vw;
        margin-left: 18vw;
        margin-top: 3vw;
        z-index: 5;
    }
    body{
        margin:0;
        overflow-x:hidden;
        font-family: 'Noto Sans TC';
    }
    .async_banner{
        position:relative;
        background:url("../material/banner.jpg");
        display: inline-block;
        width:100vw;
        height:6.25vw;
        left:0;
        top:0;
    }

    #async_banner_logo{
        position:relative;
        background:url("../material/logo1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:24.18vw;
        height:5vw;
        left: 3vw;
        top: 0.625vw;
    }

    #async_banner_title{
        position:relative;
        display: inline-block;
        left:5vw;
        top: -1vw;
        font-size: 3vw;
    }

    #async_middle{
        position:relative;
        display: inline-block;
        width:100vw;
        min-height: 42.19vw;
    }

    #middle_photo{
        position:relative;
        display: inline-block;
        left:0vw;
        top: 0vw;
        width:60.42vw;
        height:42.19vw;
        background:url("../material/async/3_1_middle_upperphoto.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #middle_right{
        position:relative;
        display: inline-block;
        width:39vw;
        vertical-align: top;
    }

    #right_title{
        position:relative;
        display: inline-block;
        left:0vw;
        top: 0vw;
        width:20vw;
        vertical-align: top;
        margin-left: 10vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .right_textpart{
        position:relative;
        display: inline-block;
        width:38vw;
        vertical-align: top;
    }

    .textpart_sign{
        position:relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 5vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 4vw;
    }

    .textpart_text{
        position:relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-size: 2vw;
        color:black;
    }

    .async_footer{
        position:relative;
        background-color:#f6f6f6;
        display: inline-block;
        width:100vw;
        height:7.8125vw;
    }

    #async_footer_logo{
        position:relative;
        background:url("../material/logo2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:20vw;
        height:3.97vw;
        left:5vw;
        top: 0.3vw;
    }

    #async_footer_signature{
        position:relative;
        display: inline-block;
        font-size: 1.1vw;
        left:7vw;
        top:1vw;
    }

    #async_video{
        cursor: pointer;
    }


}


@media only screen and (max-width:979px){
    #middle_video_background{
        position:absolute;
        display: none;
        width:100vw;
        height:100%;
        z-index: 4;
        background-color: black;
        opacity:0.5;
    }

    #video{
        position:absolute;
        display: none;
        width: 80vw;
        height: 45vw;
        margin-left: 10vw;
        margin-top: 34vw;
        z-index: 5;
    }
    
    #middle_photo{
        position:relative;
        display: inline-block;
        left:0vw;
        top: 0vw;
        width:100vw;
        height:61.11vw;
        background:url("../material/async/RWD_3_1_middle_upperphoto.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-top:10vw;
    }

    #middle_right{
        position:relative;
        display: inline-block;
        width:100vw;
        vertical-align: top;
    }

    #right_title{
        position:relative;
        display: inline-block;
        left:0vw;
        top: 0vw;
        width:31.11vw;
        vertical-align: top;
        margin-left: 4vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .right_textpart{
        position:relative;
        display: inline-block;
        width:100vw;
        vertical-align: top;
    }

    .textpart_sign{
        position:relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 21vw;
        margin-top: 2vw;
        width: 8vw;
    }

    .textpart_text{
        position:relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 3vw;
        margin-top: 2vw;
        font-size: 4vw;
        color:black;
    }

    #sync_video{
        cursor: pointer;
    }

}