@media only screen and (min-width:980px){
    body{
        margin:0;
        overflow-x:hidden;
        font-family: 'Noto Sans TC';
    }
    .sync_platform_banner{
        position:relative;
        background:url("../../material/banner.jpg");
        display: inline-block;
        width:100vw;
        height:6.25vw;
        left:0;
        top:0;
    }

    #sync_platform_banner_logo{
        position:relative;
        background:url("../../material/logo1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:24.18vw;
        height:5vw;
        left: 3vw;
        top: 0.625vw;
    }

    #sync_platform_banner_title{
        position:relative;
        display: inline-block;
        left:5vw;
        top: -1vw;
        font-size: 3vw;
    }

    #sync_platform_middle{
        position:relative;
        display: inline-block;
        width:100vw;
        min-height: 42.19vw;
    }

    .middle_titlepart{
        position:relative;
        display: inline-block;
        vertical-align: top;
        width:97vw;
        left:3vw;
        top: 3vw;
    }

    #middle_titlepart_link{
        position:relative;
        display: inline-block;
        vertical-align: top;
    }

    #middle_titlepart_text{
        position:relative;
        display: inline-block;
        vertical-align: top;
        line-height: 6vw;
        font-size: 2.5vw;
        margin-left: 2vw;
    }

    #middle_titlepart_photo{
        position:relative;
        display: inline-block;
        left:0vw;
        top: 0vw;
        width:13.91vw;
        vertical-align: top;
    }

    #middle_option{
        position:relative;
        display: inline-block;
        width:100vw;
        margin-top: 5vw;
        vertical-align: top;
    }

    .option_link{
        position:relative;
        display: inline-block;
        width:22.19vw;
        margin-left: 1.5vw;
        margin-right: 0.5vw;
        vertical-align: top;
    }

    .option_sign{
        position:relative;
        display: inline-block;
        width:22.19vw;
        vertical-align: top;
    }



    .sync_platform_footer{
        position:relative;
        background-color:#f6f6f6;
        display: inline-block;
        width:100vw;
        height:7.8125vw;
    }

    #sync_platform_footer_logo{
        position:relative;
        background:url("../../material/logo2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:20vw;
        height:3.97vw;
        left:5vw;
        top: 0.3vw;
    }

    #sync_platform_footer_signature{
        position:relative;
        display: inline-block;
        font-size: 1.1vw;
        left:7vw;
        top:1vw;
    }


}


@media only screen and (max-width:979px){
    body{
        margin:0;
        overflow-x:hidden;
        font-family: 'Noto Sans TC';
    }
    .sync_platform_banner{
        background:url("../../material/banner.jpg");
        display: inline-block;
        position: relative;
        top:0;
        left:0;
        height:10vw;
        width:100vw;
        z-index: 2;
    }

    #sync_platform_banner_logo{
        position:relative;
        background:url("../../material/logo2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        top:2vw;
        left:3vw;
        height:6vw;
        width:27.48vw;
    }

    #sync_platform_banner_title{
        position:relative;
        display: inline-block;
        left:5vw;
        top: 0.75vw;
        font-size: 5vw;
    }
    
    #sync_platform_middle{
        position:relative;
        display: inline-block;
        width:100vw;
        min-height: 42.19vw;
    }

    .middle_titlepart{
        position:relative;
        display: inline-block;
        vertical-align: top;
        width:97vw;
    }

    #middle_titlepart_link{
        position:relative;
        display: inline-block;
        vertical-align: top;
        left:3vw;
        top: 3vw;
    }

    #middle_titlepart_photo{
        position:relative;
        display: inline-block;
        left:0vw;
        top: 0vw;
        width:31.11vw;
        vertical-align: top;
    }

    #middle_titlepart_text{
        position:relative;
        display: inline-block;
        vertical-align: top;
        font-size: 6.5vw;
        margin-top: 4vw;
        margin-left: 5vw;
    }

    #middle_option{
        position:relative;
        display: inline-block;
        width:100vw;
        margin-top: 1vw;
        margin-bottom: 10vw;
        vertical-align: top;
    }

    .option_link{
        position:relative;
        display: inline-block;
        width:49vw;
        margin-top: 7vw;
        vertical-align: top;
    }

    .option_sign{
        position:relative;
        display: inline-block;
        width:40vw;
        margin-left: 5.5vw;
        vertical-align: top;
    }

    .sync_platform_footer{
        position:relative;
        background-color:#f6f6f6;
        display: inline-block;
        width:100vw;
    }

    #sync_platform_footer_logo{
        display: none;
    }

    #sync_platform_footer_signature{
        position:relative;
        display: inline-block;
        font-size: 4vw;
        left: 3vw;
        top: 0vw
    }
}